.content-container {
  height: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.toggle-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
}

.card {
  width: 230px;
  height: 210px;
  background-color: hsl(228, 28%, 20%);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    margin: 5px 0;
  }
  &.overview {
    height: 125px;
    display: flex;
    justify-content: space-evenly;

    div {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: hsl(230, 17%, 14%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card-value,
.overview-value {
  font-size: 40px;
  font-weight: 400;
  font-family: InterBold;
}

.overview-value {
  font-size: 25px;
  color: #fff;
}
.overview-variation {
  color: #00af95;
  display: flex;
  align-items: center;
  font-family: InterBold;
  font-size: 11px;
  &.negative {
    color: red;
  }
}

.grow-label {
  font-family: InterBold;
  font-size: 12px;
  color: #00af95;
}

.nickname,
.subTitle {
  font-family: InterBold;
  font-size: 12px;
  color: #777d94;
  margin-left: 5px;
}
.nick-container {
  display: flex;
}

.subTitle {
  margin: 0;
}

.followers-label {
  font-family: InterThin;
  color: #777d94c7;
  font-size: 12px;
}

@media only screen and (max-width: 415px) {
  .content-container {
    margin: 15px;
  }
  .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    flex-direction: column;
  }

  .subTitle {
    border-bottom: 1px solid #afafaf9c;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .toggle-button-container {
    width: 100%;
  }
}

.lightContent {
  .card {
    background-color: hsl(227, 47%, 96%);
  }

  .overview-value {
    color: black;
  }
}

.fbBorder{
  border-top: 3px solid hsl(208, 92%, 53%);
}
.twBorder{
  border-top: 3px solid hsl(203, 89%, 53%);
}
.ytBorder{
  border-top: 3px solid hsl(348, 97%, 39%);
}

.igBorder {
  position:relative;
  border-radius: 0;
}
.igBorder:before {
  content:'';
  position:absolute;
  width:100%;
  height:3px;
  background:linear-gradient(to left,#e652c1, orange);
  top:-3px;
  left:0;
}